@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap");

:root {
  --bg1: #FFF2CC;
  --bg2: #FFD966;
  --body: #F4B183;
  --brand: #DFA67B;
  --black: #000000;
}

body {
  font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  line-height: 1.8;
  background-color: var(--bg1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dela Gothic One", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  color: black;
}

a {
  color: var(--body);
  text-decoration: none;
}

.link-more {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  left: 1px;
}

.link-more .icon {
  transition: all 0.4s ease;
}

.link-more:hover .icon {
  transform: translateX(8px);
}

a:hover {
  color: var(--black);
}

img {
  width: 100%;
}

section {
  padding-top: 160px;
  padding-bottom: 160px;
}

/* INTRO */
.intro {
  margin-bottom: 60px;
}

.intro h1 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.intro h6 {
  color: var(--brand);
}

.intro p {
  max-width: 500px;
  margin: auto;
}

.cta-btns {
  margin-top: 60px;
}

/* NAVBAR */
.navbar {
  background: linear-gradient(to bottom, #000000, rgb(0, 0, 0));
}

.navbar .navbar-nav .nav-link.active {
  color: var(--brand);
}

.navbar-brand {
  font-family: "Dela Gothic One", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 20px;
  opacity: 70%;
}

/* HERO */
#hero {
  background: linear-gradient(to bottom, #00000088, rgba(0, 0, 0, 0.837)),
    url(Images/cover2.jpeg);
  background-position: center;
  background-size: cover;
  min-height: 30vh;
  display: flex;
  align-items: center;
}

#hero h1 {
  color: white;
}

/* BTN */
.btn {
  padding: 16px, 36px;
  font-family: "Dela Gothic One", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  transition: all 0.4s ease;
  border-radius: 20px;
}

#gallery-button {
  display: flex;
  justify-content: center;
}

.btn-brand {
  background-color: var(--brand);
}

.btn-brand:hover {
  background-color: transparent;
  color: var(--brand);
  border-color: var(--brand);
}

.btn-outline-brand {
  background-color: var(--brand);
  color: var(--black);
  border-color: var(--black);
}

.btn-outline-brand:hover {
  background-color: transparent;
  color: var(--brand);
  border-color: var(--brand);
}


/* ABOUT */
#about {
  position: relative;
  padding: 100px;
}

#about img {
  border-radius: 30%;
}

#about h6 {
  color: var(--black);
  font-size: 25px;
}

#about h1 {
  margin-top: 16px;
  margin-bottom: 24px;
}

#about .signature {
  width: unset;
}

/* FOOTER */
footer {
  padding-top: 80px;
}

footer .social-links {
  display: flex;
}

footer .social-links a {
  margin-right: 5px;
}

.footer-top {
  padding-bottom: 30px;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid var(--bg2);
  background-color: black;
  color: white;

}
